<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="css/jquery.fullPage.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/jquery.fullPage.js")
    script(src="js/scripts.js")
    title
  body
    header.top
      .ed-container
        .ed-item.base-100
          h1 bandaza
          a.menu(href="")
            i.ion-navicon
    #fullpage
      .section#section0
        .data-punch
          p.titular Punchline
          h1 Radio kill the video stars on this goddamn planet.
      .section#section1
        .slide#slide1
          img(src="http://www.fanatyk.es/sites/default/files/images/amy-winehouse-download-hd.jpg", alt="")
          .data-noticia
            p.titular-noti Noticias
            p Radio kill the video stars on this goddamn planet.

        .slide#slide2
          img(src="https://wallpaperscraft.com/image/damon_albarn_musician_gorillaz_105504_1024x768.jpg", alt="")
          .data-noticia
            p.titular-noti Noticias
            p Radio kill the video stars on this goddamn planet.
      .section#section2
        .slide#slide1
          img(src="https://wallpaperscraft.com/image/damon_albarn_musician_gorillaz_105504_1024x768.jpg", alt="")
          .data-noticia
            p.titular-noti Bandas
            p Planeta NO

        .slide#slide2
          img(src="https://wallpaperscraft.com/image/damon_albarn_musician_gorillaz_105504_1024x768.jpg", alt="")
          .data-noticia
            p.titular-noti Bandas
            p Radio kill the video stars on this goddamn planet.
      .section#section3
          .data-punch
            p.titular Programas
            h1 Rock delfin del mundo.

